body {
  background-color: #f3e9de;
  color: #256993;
  display: flex;
  margin: 0;
  height: 100vh;
  font-family: "Syne", sans-serif;
}
nav {
  width: 20%;
  background-color: #faf4ec;
}
footer {
  text-align: center;
}
.maingrid {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 2fr 0.5fr;
  margin: 0.5rem;
  row-gap: 10px;
}
h1 {
  justify-self: center;
  grid-column: 1/4;
  grid-row: 1/1;
}
button {
  border-radius: 10px;
  padding: 10px;
  border: none;
  color: white;
  text-align: center;
  background-color: #375f68;
}
textarea {
  border: 2px solid blue;
  border-radius: 5px;
  outline: none;
  grid-column: 1/4;
  grid-row: 4/4;
}

#about {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  font-size: large;
  display: flex;
  gap: 5px;
  grid-column: 3/3;
  grid-row: 2/2;
  align-self: flex-end;
  justify-self: flex-end;
}
#about > li {
  justify-self: space-between;
}
#newnote {
  grid-column: 1/1;
  grid-row: 3/3;
  align-self: flex-end;
  justify-self: flex-start;
}
#save {
  grid-column: 3/3;
  grid-row: 5/5;
  align-self: flex-start;
  justify-self: flex-end;
}
#theme {
  background-color: #56536a;
  grid-column: 3/3;
  grid-row: 3/3;
  align-self: flex-end;
  justify-self: flex-end;
}
.mainpage {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
header {
  text-align: center;
}
#cancel {
  background-color: #9b332c;
}

@media screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
  h1 {
    font-size: 4vw;
  }
  li,
  button {
    font-size: 3vw;
  }
  footer {
    font-size: 3vw;
  }
  nav {
    width: 100vw;
  }
  img {
    height: auto;
    width: 10%;
  }
}
